<!DOCTYPE html>
<html lang="en">

<body>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Data from URLs</title>
            <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
            crossorigin="anonymous"/>
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <style>
                body {
                    padding: 20px;
                }
            </style>
        </head>
        <body>
            <div class="container">
                <h1 class="mb-4">Data from URLs</h1>
                <form>
                    <div class="mb-3">
                        <label for="city_select" class="form-label">City:</label>
                        <select id="city_select" class="form-select">
                            <option value="">Choose City</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="gu_select" class="form-label">Gu:</label>
                        <select id="gu_select" class="form-select">
                            <option value="">Choose Gu</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="dong_select" class="form-label">Dong:</label>
                        <select id="dong_select" class="form-select">
                            <option value="">Choose Dong</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="min_price" class="form-label">최소 금액:</label>
                        <input type="number" id="min_price" min="0" class="form-control">
                    </div>
                    <div class="mb-3">
                        <label for="max_price" class="form-label">최대 금액:</label>
                        <input type="number" id="max_price" min="0" class="form-control">
                    </div>
                    <button type="button" id="search_officetel_btn" class="btn btn-primary">오피스텔 검색</button>
                </form>
                <div id="officetel_list" class="mt-4"></div>
                <div id="property_details" class="mt-4"></div>
            </div>
        </section>
    </div>
</div>

    <script>
        // 전체 도시 목록 가져오기
        var city_list = {{ city_list|tojson|safe }};
        // 도시 목록 드롭다운
        $(document).ready(function () {
        for (var i = 0; i < city_list.length; i++) {
            var city = city_list[i];
            $('#city_select').append('<option value="' + city[0] + '">' + city[1] + '</option>');
        }
        });
        // 도시가 선택되면 구 목록을 업데이트
        $('#city_select').on('change', function () {
        var city_cortar_no = $(this).val();
        $('#gu_select').html('<option value="">Choose Gu</option>');
        $('#dong_select').html('<option value="">Choose Dong</option>');

        if (city_cortar_no) {
            $.post('/get_gu_list', {city_cortar_no: city_cortar_no}, function (response) {
                for (var i = 0; i < response.length; i++) {
                    var gu = response[i];
                    $('#gu_select').append('<option value="' + gu[0] + '">' + gu[1] + '</option>');
                }
            });
        }
    });

    // 구가 선택되면 동 목록을 업데이트
    $('#gu_select').on('change', function () {
        var gu_cortar_no = $(this).val();
        $('#dong_select').html('<option value="">Choose Dong</option>');

        if (gu_cortar_no) {
            $.post('/get_dong_list', {gu_cortar_no: gu_cortar_no}, function (response) {
                for (var i = 0; i < response.length; i++) {
                    var dong = response[i];
                    $('#dong_select').append('<option value="' + dong[0] + '">' + dong[1] + '</option>');
                }
            });
        }
    });

    $('#search_officetel_btn').on('click', function () {
    var dong_code = $('#dong_select').val();
    var min_price = $('#min_price').val();
    var max_price = $('#max_price').val();

    if (dong_code) {
        if (min_price && max_price) {
            // 최소/최대 금액이 설정된 경우
            $.post('/search', {dongCode: dong_code, minPrice: min_price, maxPrice: max_price}, function (response) {
                var officetel_list_html = '<ul>';
                for (var i = 0; i < response.length; i++) {
                    var property = response[i];
                    officetel_list_html += `<li><a href="#" class="officetel-link" data-id="${property.articleName}">${property.representativeName}, ${property.address}, ${property.cellPhoneNo}, ${property.dealOrWarrantPrc}, ${property.articleName}, ${property.exposureAddress}, ${property.articleRealEstateTypeName}, ${property.tagList.join(', ')}, ${property.floorInfo}, ${property.monthlyManagementCost}, ${property.financePrice}</a></li>`;
                }
                officetel_list_html += '</ul>';
                $('#officetel_list').html(officetel_list_html);
            });
        } else {
            // 최소/최대 금액이 설정되지 않은 경우
            $.post('/get_officetel_list', {dong_code: dong_code}, function (response) {
                var officetel_list_html = '<ul>';
                for (var i = 0; i < response.length; i++) {
                    var officetel = response[i];
                    officetel_list_html += `<li>${officetel[0]} - ${officetel[1]}</li>`;
                }
                officetel_list_html += '</ul>';
                $('#officetel_list').html(officetel_list_html);
            });
        }
    }
});

// 오피스텔 링크를 클릭하면 상세 정보를 가져옴
// $(document).on('click', '.officetel-link', function (event) {
//     event.preventDefault();
//     var officetel_id = $(this).data('id');
//     $.post('/get_officetel_detail', {officetel_id: officetel_id}, function (response) {
//         var officetel_detail_html = '<h3>' + response.name + '</h3>';
//         officetel_detail_html += '<p>주소: ' + response.address + '</p>';
//         officetel_detail_html += '<p>가격: ' + response.price + '</p>';
//         officetel_detail_html += '<p>면적: ' + response.area + '</p>';
//         $('#officetel_detail').html(officetel_detail_html);
//     });
// });
    </script>


</body>
</html>
